.text-field {
   -fx-border-color: black;
   -fx-border-style: solid;
   -fx-font-family: Future;
   -fx-font-size: 17pt;
   -fx-pref-width: 50px;
   -fx-pref-height: 50px;
   -fx-background-color: white;
}


GridPane {
   -fx-border-color: black;
   -fx-border-style: solid;
}


.button {
   -fx-background-color: linear-gradient(#ffffff, #dddddd);
   -fx-background-radius: 20;
   -fx-border-radius: 20;
   -fx-border-color: rgb(0, 0, 0);
   -fx-font-size: 16;
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4,0,1,1);
   -fx-pref-width: 100px;
   -fx-pref-height: 50px;
}


